link(rel="import" href="bower_components/polymer/polymer.html")

polymer-element(name="<%= name %>" attributes="")

  template

    link(rel="stylesheet" href="<%= name %>.css")

    h1 Hello from <%= name %>!

  script
    :coffeescript
      Polymer('<%= name %>',
        ready: () ->
          console.log '<%= name %> is ready!'
